<div class="toast" *ngIf="showToast">
    {{ toastMessage }}
</div>
<div #wrapper>
    <ul *ngIf="!showProductDetail" class="productList">
        <li *ngFor="let product of productsAvailables">
            <!--product img-->
            <div class="imageContainer">
                {{ product.ThumbnailURL }}
            </div>
            <!--product name and price-->
            <div>
                <span class="name">{{product.Name}} </span>
                <span class="price">{{product.Price}} </span>
            </div>
            <!--action button-->
            <div>
                <button class="viewDetailsBtn" (click)="viewDetails(product.ProductID)">View Details</button>
            </div>
        </li>
    </ul>

    <div *ngIf="showProductDetail">
        {{ prodId }}
        <!--product img-->
        <div class="imageContainer">
            image
        </div>
        <!--product name and price-->
        <div>
            <span class="name">{{product.Name}} </span>
            <span class="price">{{product.Price}} </span>
        </div>
        <!--action button-->
        <div>
            <button class="addToCart" (click)="addToCart()">View Details</button>
        </div>
    </div>
</div>